* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #f5f5f5;
}

.calculator .result {
  background: darkgray;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  text-align: right;
  padding-right: 1rem;
}

.calculator .keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0;
}

button {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  height: 4rem;
  align-items: center;
}

button:hover {
  box-shadow: 0 0 2px 2px #ccc;
  z-index: 3;
  font-weight: bolder;
}

button.operator {
  background-color: darkorange;
}

button#zero {
  grid-column: 1/3;
}
